<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :question_title %>
  </div>

  <div class="field">
    <%= form.label :subgenre_id %>
    <%= form.text_field :subgenre_id, id: :question_subgenre_id %>
  </div>

  <div class="field">
    <%= form.label :A %>
    <%= form.text_field :A, id: :question_A %>
  </div>

  <div class="field">
    <%= form.label :B %>
    <%= form.text_field :B, id: :question_B %>
  </div>

  <div class="field">
    <%= form.label :C %>
    <%= form.text_field :C, id: :question_C %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, id: :question_answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
